<!doctype html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="iTraceur">
        <meta name="description" content="Nginx http auth">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        {{.HtmlHead}}
    </head>
    <body class="bg-light">
        {{.Nav}}
        <div class="container">
            {{.LayoutContent}}
            {{.Footer}}
        </div>
        <script src="/static/js/jquery-3.6.0.min.js"></script>
        <script src="/static/js/bootstrap.bundle.min.js"></script>
        <script src="/static/js/jquery.validate.min.js"></script>
        <script src="/static/js/messages_zh.min.js"></script>
        {{.Script}}
    </body>
</html>