<!doctype html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="iTraceur">
        <meta name="description" content="Nginx http auth user list">
        <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
        {{.HtmlHead}}
    </head>
    <body class="bg-light">
        <div class="container">
            {{.LayoutContent}}
        </div>
    </body>
</html>